* {
    box-sizing: border-box;
    font-family: Prompt;
    margin: 0;
    padding: 0;
}

.wrapper {
    background: linear-gradient(to right bottom, #e6e6e6, white, #e6e6e6, white);
    height: 100vh;
    width: 100vw;
}

.tests {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    width: 15vw;
}

.tests p {
    transform: rotate(-90deg);
}