* {
    box-sizing: border-box;
    font-family: Prompt;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.parallax {
    background-image: url('../images/wallpaper.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.menu {
    background-color: white;
    height: 100vh;
    margin-top: -20vh;
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    width: 100vw;
}

.games {
    height: 80vh;
    margin-top: 20vh;
    transition: opacity .5s;
    width: 100vw;
}

.game {
    align-items: center;
    display: flex;
    font-size: 40px;
    height: 20vh;
    justify-content: center;
    width: 100vw;
}

.game p {
    background-color: #0E254D;
    border: 5px solid transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
    padding: 6px 30px 6px 30px;
    text-transform: uppercase;
    transition: all .75s;
}

.game p:hover {
    border: 5px solid #BCE0F3;
    letter-spacing: 10px;
}

/* div game */

.divGame {
    display: none;
    height: 80vh;
    position: absolute;
    top: 100vh;
    transition: opacity .5s;
    width: 100vw;
}

#reactionTest {
    height: 80vh;
    opacity: 0;
    transition: opacity .5s;
    width: 100vw;
}

#numberMemory {
    height: 80vh;
    opacity: 0;
    transition: opacity .5s;
    width: 100vw;
}

#fastTyping {
    height: 80vh;
    opacity: 0;
    transition: opacity .5s;
    width: 100vw;
}

#verbalMemory {
    height: 80vh;
    opacity: 0;
    transition: opacity .5s;
    width: 100vw;
}

.box_left, .box_right {
    float: left;
    height: 80vh;
    width: 50vw;
}

.box_right {
    align-items: center;
    display: flex;
    justify-content: center;
}

.box_right p {
    animation: color 5s infinite;
    border: 5px solid transparent;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 8px 30px 8px 30px;
    text-transform: uppercase;
    transition: all .75s;
}

.box_right p:hover {
    border: 5px solid #BCE0F3;
    letter-spacing: 10px;
}

h2 {
    color: #0E254D;
    font-size: 40px;
    line-height: 20vh;
    text-align: center;
    text-transform: uppercase;
}

.box_left p {
    color: #0E254D;
    font-size: 25px;
    text-align: center;
}

/*

keyframes animations

*/

@keyframes color {
    0% {
        background-color: #0E254D;
    }

    20% {
        background-color: #E28132;
    }

    40% {
        background-color: #0E254D;
    }

    100% {
        background-color: #0E254D;
    }
}